body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 32px;
   
}

.orange{
    width: 50px;
    height: 50px;
    background-color: #CC561E;
}

.skin {
    width: 50px;
    height: 50px;
    background-color: #F6CE71;
}

.chessboard{
    width: calc(8 * 50px);
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}